.start{
    margin-top: 0 !important;
    background-image: url('../../assets/images/tshirt.jpg');
    height: 90vh;
    width: 100%;
    object-fit: fill;
    position: relative;
   top: -4rem;
   right: -12rem;
   z-index: -100;
}

.textArea{
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
    margin-left: -5.7rem;
    width: 38%;
}
.welcomeText{
    font-size: 35px;
}
.secondText{
    margin-top: 0.5rem;
    font-size: 70px;
}
.thiredText{
    margin-top: 0.5rem;
    font-size: 20px;
}
.button{
    margin-top: 1rem;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 15px;
    font-size: 17px;
}