.start{
    margin-top: -2rem !important;
    background-image: url('../../assets/images/tshirt.jpg');
    height: 105vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
   padding-left: 05rem;
}

.textArea{
    padding-top: 15rem;
    width: 38%;
}
.welcomeText{
    font-size: 35px;
}
.secondText{
    margin-top: 0.5rem;
    font-size: 70px;
}
.thiredText{
    margin-top: 0.5rem;
    font-size: 20px;
}
.button{
    margin-top: 1rem;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 15px;
    font-size: 17px;
}